/* Estilos generales del cuerpo del documento */
body {
    font-family: Arial, sans-serif; /* Fuente predeterminada */
    background-color: #e5e9eb; /* Color de fondo */
    margin: 0; /* Sin márgenes */
    padding: 20px; /* Espaciado interno */
}

/* Estilo para encabezados de nivel 2 */
h2 {
    text-align: center; /* Alineación centrada */
}

/* Estilos para los formularios */
form {
    max-width: 600px; /* Ancho máximo */
    margin: 20px auto; /* Margen automático para centrar */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos para los campos de entrada de texto, correo, fecha, número y contraseña en formularios */
form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="number"],
form input[type="password"] {
    width: calc(100% - 20px); /* Ancho completo menos 20px */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Margen inferior */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
}

/* Estilos para el botón de envío en formularios */
form input[type="submit"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo puntero */
    font-size: 16px; /* Tamaño de fuente */
}

/* Estilos para el botón de envío en formularios al pasar el ratón */
form input[type="submit"]:hover {
    background-color: #45a049; /* Cambio de color al pasar el ratón */
}

/* Estilos para los elementos select en formularios */
form select {
    width: calc(100% - 20px); /* Ancho completo menos 20px */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Margen inferior */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
}

/* Estilos para las tablas */
table {
    width: 100%; /* Ancho completo */
    border-collapse: collapse; /* Colapso de bordes */
    margin-top: 20px; /* Margen superior */
}

/* Estilos para las celdas de las tablas */
table th, table td {
    border: 1px outset #ddd; /* Borde con estilo 'outset' */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Alineación centrada */
}

/* Estilos para los encabezados de las tablas */
table th {
    background-color: #041975; /* Color de fondo */
    color: white; /* Color del texto */
}

/* Estilos para los botones con la clase 'nada' */
.nada {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
}

/* Estilos para los enlaces con la clase 'nad' */
.nad {
    text-decoration: none; /* Sin subrayado */
    color: black; /* Color del texto */
}

/* Estilo para centrar el texto con la clase 'centrar' */
.centrar {
    text-align: center; /* Alineación centrada */
}

/* Contenedor para la imagen de encabezado y el título */
.container {
    position: relative; /* Posicionamiento relativo */
    text-align: center; /* Centra el texto horizontalmente */
}

/* Estilos para el título dentro del contenedor */
.container h1 {
    position: absolute; /* Posicionamiento absoluto */
    top: 40%; /* Posiciona el texto en el centro vertical */
    left: 50%; /* Posiciona el texto en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el texto exactamente */
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    padding: 10px 20px; /* Espaciado interno */
}

/* Estilos para la imagen de encabezado */
.adj {
    width: 100%; /* Ancho completo */
    height: 150px; /* Altura fija */
}

/* Estilos para el texto con la clase 'bl' */
.bl {
    color: rgb(255, 238, 230); /* Color del texto */
}
